    .header {
    height: 3%;
    display: block;
    padding: 5px;
    background-color: #A71111;
}

.container {
    width: 100%;
}


.column {
    display: table-cell;
}



.four {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}

.seven .h3 {
    font-size: 25px;
    font-family: "Times New Roman";
    color: white;
    float: right;
}




.text {
    margin-left: 25px;
    margin-right: 25px;
}

.five {
    height: 625px;
    width: 38%;
    float: left;
    background-color: #e8e8e8;
}

.size {
    margin-top: 50px;
    margin-left: 40px;
}


body {
    background-color: white;
}

.seven {
    width: 62%;
    height: 625px;
    float: left;
    background-color: #e8e8e8;
}

.new {
    background-color: black;
}

.row5 {
    margin-top: 902px;
}

.row5 .five,
.row5.seven {
    height: 625px;
}

.row4 .four {
    height: 666px;
}

.footer {
    background-color: #333;
    height: 100px;
    margin-top:27px;
}

.footer ul li
{
    list-style: none;
    float:left;
    margin-left: 90px;
    padding-right: 10px;
    margin-top: 20px;
}

.last {
   background-color: #333;
    height: 110px;
    margin-top: 1808px;
}

.last ul li
{
    list-style: none;
    float:left;
    margin-left: 90px;
    padding-right: 10px;
    margin-top: 30px;
}

.image {
    position: relative;
    width: 100%;
}

.image h2 {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    font-size: 35px;
    font-family: verdana;
    text-align: center;
    display: block;
    background-color: black;
    color: white;
}

.column h1 {
    font-size: 35px;
    font-family: verdana;
    float: right;
    color: white;
    margin-left: 800px;
}

.navigation ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation  li {
    float: left;
}

.navigation li a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation ul li a:hover
 {
    background-color: #007399;
}
